.block{
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;

}
.poster{
  @apply object-cover ;
  max-height: 380px;


}

.name{
  max-width: 250px;
  font-weight: bold;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
@media (max-width: 450px){
  .name{
    font-size: 14px;
  }
}