.block{
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
}


.logo{
  @apply absolute bottom-0 left-1/2 object-cover;
  transform:translateX(-50%);
  width: 300px;
}
@media (max-width: 450px){
  .logo{
   width: 200px;
  }
}
.backdrop{
  @apply object-cover max-w-full relative;

}
@media (max-width: 1080px){
  .backdrop{
    width: 450px;
  }
}
