.wrapper_col_1{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.button_back{
  @apply fixed   z-10;
  left: 2px;
  top:80px;
}
@media(max-width: 426px){
  .button_back{
   top:50px;
  }
}
.poster {
  width: 100%;
  border-radius: 10px;
}

.descrip_film {
  margin-bottom: 20px;
  font-weight: 900;
  font-size: 22px;
}

.container {
  width: 1260px;
  max-width: 100%;
  margin: 0 auto;
  padding: 70px 10px 0 10px;
  background: rgba(0, 0, 0, 0.53);
  backdrop-filter: blur(5px);
}
@media (max-width: 426px) {
  .container{
    padding: 20px 10px 0 10px;

  }
}

.wrapper {
  display: grid;
  grid-template-columns: 340px 530px ;
  grid-gap: 40px;

}

.title {
  font-size: 36px;
  font-weight: 900;
  margin-bottom: 10px;
  padding-top: 0px;
  line-height: 42px;
}

.subtitle {
  margin-bottom: 10px;
  opacity: 0.4;
  line-height: 19px;
  font-size: 16px;
  font-weight: 400;
}

.description {
  margin-bottom: 30px;
}

.params {
  list-style-type: none;
}

.params li {
  margin-bottom: 15px;
  display: grid;
  grid-template-columns: 130px 1fr;
  grid-gap: 30px;
  width: 100%;
  font-size: 14px;
}

.text-muted {
  opacity: 0.4;
}
@media (max-width: 1024px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .wrapper {
    grid-template-columns: 250px 1fr ;
    grid-gap: 30px;
  }
}

@media (max-width: 768px) {
  .wrapper {
    grid-template-columns: 1fr 150px;
    max-width: 520px;
    margin-left: auto;
    margin-right: auto;
  }

  .wrapper_col_3 {
    grid-row: 1 / 3;
    grid-column: 2;
  }
}

@media (max-width: 800px) {
  .wrapper {
    grid-template-columns: 1fr;
    max-width: 100%;
  }

  .wrapper_col_3 {
    grid-row: unset;
    grid-column: 1;
  }
}
@media (max-width: 400px) {
  .title {
    font-size: 24px;
    font-weight: 900;
    margin-bottom: 10px;
    padding-top: 0px;
    line-height: 42px;
  }
}
.falseDescrip{
  -webkit-line-clamp: none;
  @apply text-gray-400 ;
  max-width: 600px;
}
.trueDescrip{
  @apply text-gray-400;
  overflow: hidden;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  max-width: 600px;

}

.similar_kino{
  margin-top: 20px;
}
.similar_kino h3{
  font-size: 24px;
  font-weight: bold;
}
.btn{
  margin: 20px 0;
}
.btn_trailers{
  border-radius: 10px;
  padding: 10px 95px;
  background-image: linear-gradient(to right, #1A2980 0%, #26D0CE  51%, #1A2980  100%);
  background-size: 200% auto;
  transition: .3s ease-in-out;
  font-weight: bold;

  &:hover{
    background-position: right center;
  }
}

@media (max-width: 375px) {
  .btn_trailers{
    padding: 10px 112px;
  }
}