
.button_back{
  @apply fixed   z-10;
  left: 2px;
  top:80px;
}
@media(max-width: 426px){
  .button_back{
   top:50px;
  }
}
.poster {
  width: 100%;
  border-radius: 10px;
}

.descrip_film {
  margin-bottom: 20px;
  font-weight: 900;
  font-size: 22px;
}

.container {
  width: 1100px;
  max-width: 100%;

  margin: 0 auto;
  padding: 0 10px 0 10px;
  background: rgba(0, 0, 0, 0.53);
  backdrop-filter: blur(5px);
}

.wrapper {
  display: grid;
  grid-template-columns: 340px 530px ;
  grid-gap: 40px;

}

.title {
  font-size: 36px;
  font-weight: 900;
  margin-bottom: 10px;
  padding-top: 0px;
  line-height: 42px;
}

.subtitle {
  margin-bottom: 10px;
  opacity: 0.4;
  line-height: 19px;
  font-size: 16px;
  font-weight: 400;
}

.description {
  margin-bottom: 30px;
}

.params {
  list-style-type: none;
}

.params li {
  margin-bottom: 15px;
  display: grid;
  grid-template-columns: 130px 1fr;
  grid-gap: 30px;
  width: 100%;
  font-size: 14px;
}

.text-muted {
  opacity: 0.4;
}
@media (max-width: 1024px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .wrapper {
    grid-template-columns: 250px 1fr ;
    grid-gap: 30px;
  }
}

@media (max-width: 768px) {
  .wrapper {
    grid-template-columns: 1fr 150px;
    max-width: 520px;
    margin-left: auto;
    margin-right: auto;
  }

  .wrapper_col_3 {
    grid-row: 1 / 3;
    grid-column: 2;
  }
}

@media (max-width: 800px) {
  .wrapper {
    grid-template-columns: 1fr;
    max-width: 100%;
  }

  .wrapper_col_3 {
    grid-row: unset;
    grid-column: 1;
  }
}
@media (max-width: 400px) {
  .title {
    font-size: 24px;
    font-weight: 900;
    margin-bottom: 10px;
    padding-top: 0px;
    line-height: 42px;
  }
}
.falseDescrip{
  -webkit-line-clamp: none;
  @apply text-gray-400;
}
.trueDescrip{
  @apply text-gray-400;
  overflow: hidden;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;

}
.block_actors{
  @apply mt-4
}
.person_container{
  @apply grid grid-cols-6  gap-2 overflow-x-auto;
  height: 300px;
}
.person_container::-webkit-scrollbar {
  width: 10px;               /* ширина всей полосы прокрутки */
}

.person_container::-webkit-scrollbar-track {
  background: rgba(16, 16, 16, 0.67);        /* цвет зоны отслеживания */
}

.person_container::-webkit-scrollbar-thumb {
  background-color: #e8e8f1;    /* цвет бегунка */
  height: 50px;
  border-radius: 5px

}
.name_actors{

  font-size: 16px;
  overflow: hidden;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}
.person_photo{
  @apply  object-cover;
  height: 200px;
  width: 200px;
}
@media (max-width:1010px ){
  .person_container{
    @apply grid grid-cols-5
  }
}
@media (max-width: 797px){
  .person_container{
    @apply grid grid-cols-4
  }
}
@media (max-width: 567px){
  .person_container{
    @apply grid grid-cols-3
  }
}
@media (max-width: 426px){
  .person_photo{
    width: 150px;
    height: 150px;
  }
}
