$accent-color: #e7e7e7;
$brand-color:#fe4141;
$dark-color: #1e1b26;



.container{
  display: flex;

}

.cellphone_container{
  display: flex;
  background-color:#1e1b26;
  box-shadow:5px 5px 115px -14px black;
  border-radius: 4px;
}

.movie_img {
  width:310px;
  height:300px;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  z-index:111 !important;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom,
          color-stop(0.00,  rgba(0,0,0,1)),
          color-stop(0.35,  rgba(0,0,0,1)),
          color-stop(0.50,  rgba(0,0,0,1)),
          color-stop(0.65,  rgba(0,0,0,1)),
          color-stop(0.85,  rgba(0,0,0,0.6)),
          color-stop(1.00,  rgba(0,0,0,0)));



}

.movie{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+39,1e1b26+53&0+38,1+55 */
  background: -moz-linear-gradient(top,  rgba(255,255,255,0) 38%, rgba(255,255,255,0.06) 39%, rgba(30,27,38,0.88) 53%, rgba(30,27,38,1) 55%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 38%,rgba(255,255,255,0.06) 39%,rgba(30,27,38,0.88) 53%,rgba(30,27,38,1) 55%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(255,255,255,0) 38%,rgba(255,255,255,0.06) 39%,rgba(30,27,38,0.88) 53%,rgba(30,27,38,1) 55%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#1e1b26',GradientType=0 ); /* IE6-9 */
  background-size: cover;
  z-index:1 !important;
  width:310px;
  display:flex;
  flex-direction: column;
  border-radius:4px;
}

.text_movie_cont{
  padding:0px 12px;
  flex-grow: 1;

}

.action_btn{
  text-align:right;
  i{
    color:$brand-color;
    font-size:28px;
    text-align:right;
  }
}



.action_row{
  margin-top:24px;
}



.name_movie {
  font-size:16px;
  font-weight:bold;
  overflow: hidden;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}



.movie_gen{
  margin:0px;
  padding:0px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  li{

    color:darken( $accent-color, 40% );

    display:flex;
    align-items: center;

    margin-right:6px;

  }
}

.movie_likes{
  @extend .movie_gen;
  float:right;
  li{
    color:$brand-color;
    &:last-child {
      margin-right: 0px;
    }

  }
}

.movie_details {

  color:darken( $accent-color, 20% );

}

.movie_description {

  color:darken( $accent-color, 30% );

  line-height: 1.3;
}

/* TYPOGRAPHY ENDS */

/** GRID STARTS **/

.thegrid { margin: 0 auto; }



.mr_grid { width: 100%; }
.mr_grid:before, .mr-grid:after { content: ""; display: table; }
.mr_grid:after { clear: both; }
.mr_grid { *zoom: 1; }

.col1, .col2, .col3, .col3rest, .col4, .col4rest, .col5, .col5rest, .col6, .col6rest{
  margin:0% 0.5% 0.5% 0.5%;
  padding:1%;
  float: left;

}
.bottom_content{
  @apply flex justify-between items-center ;
  padding:10px 12px;

}
.more{
  padding: 10px 20px;
  border: 1px solid #fff;
  border-radius: 10px;
  background-image: linear-gradient(to right,  rgba(56,56,59,1) 7%, rgba(2,9,10,1) 90%);
  background-size: 200% auto;
  transition: .3s ease-in-out;
  &:hover{
    background-position: right center;
  }
}
@media (max-width: 440px) and (min-width: 355px){

}