.block{
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;

  &:hover img{
    position: relative;
    z-index: 3;
  }

  & img{
    position: relative;
    overflow: hidden;
  }
}
.kino_info{
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 4;
}
.poster{
  max-height: 380px;
}
.name{
  font-size: 20px;
  max-width: 250px;
  font-weight: bold;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
@media (max-width: 450px){
  .name{
    font-size: 14px;
  }
}
.mySwiper > .swiper-button-next, .swiper-button-prev {
  color: #ffffff;
  backdrop-filter: blur(17px);

  width: 50px;
  height: 70px;
  border-radius: 8px;
  background-image: linear-gradient(rgba(255,255,255,.15),rgba(255,255,255,.15)),linear-gradient(rgba(59,58,62,.48),rgba(59,58,62,.48));
}


