@tailwind base;
@tailwind components;
@tailwind utilities;
body{
  @apply bg-black text-gray-100;
  margin-top: 60px;
}
@media (max-width: 426px){
  body{
    margin-top: 50px;
  }
}
img{
  border-radius: 5px;
}