@tailwind base;
@tailwind components;
@tailwind utilities;
body{
  @apply bg-black text-gray-100;

}

img{
  border-radius: 5px;
}
.container{
  margin:70px auto 0 auto ;

}
@media (max-width: 426px){
  .container{
    margin-top: 50px;
  }
}


.swiper-button-next,.swiper-button-prev{
    color: #fff !important;
    background-image: linear-gradient(rgba(255,255,255,.15),rgba(255,255,255,.15)),linear-gradient(rgba(59,58,62,.1),rgba(59,58,62,.1)) !important;
    width: 50px !important;
    height: 70px !important;
    border-radius: 10px !important;
    backdrop-filter: blur(10px) !important;
    transition: .3s ease-in-out;
    display: flex !important;
  }
.swiper-button-next:hover,.swiper-button-prev:hover{
    transform: scale(1.1) !important;
}

@media (max-width: 769px) {
    .swiper-button-next,.swiper-button-prev{
    display: none !important;
  }
}
.swiper-button-next.swiper-button-disabled,.swiper-button-prev.swiper-button-disabled{
    pointer-events: auto !important;
}