//.parallax_bg {
//  position: absolute;
//  left: 0;
//  top: 0;
//
//}
.slide{
  box-sizing: border-box;
  padding: 70px 60px;
  width: 100%;
  height: 700px;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: top center;

}
.title {
  font-size: 41px;
  font-weight: 300;
  font-weight: bold;
}
 .subtitle {
  font-size: 21px;
   color: rgba(255, 255, 255, 0.54);
}

.text {
  font-size: 18px;
  max-width: 400px;
  line-height: 1.3;
  padding: 20px 0;
}
.info{
  display: flex;
  color: #fff;
  font-weight: bold;
  & li{
    padding: 0 10px;
    display: flex;
  }
  & li:first-child{
    padding: 0;
  }
}
.age_rating{
display: flex;
  & p{
    margin-left: 10px;
  }
}
.btn{
  & button{
    margin: 20px 10px 20px 0;
  }
}
.btn_trailers{
  border-radius: 10px;
  padding: 10px 20px;
  background-image: linear-gradient(to right, #1A2980 0%, #26D0CE  51%, #1A2980  100%);
  background-size: 200% auto;
  transition: .3s ease-in-out;
  font-weight: bold;
  &:hover{
    background-position: right center;
  }
}
.btn_more{
  border-radius: 10px;
  padding: 10px 20px;
  border: 1px solid #fff;
 background: transparent;
  background-size: 200% auto;
  transition: .3s ease-in-out;
  font-weight: bold;
  &:hover{
    background:#fff;
    color: #000;
  }
}
@media (max-width: 555px) {
  .title {
    font-size: 31px;
    font-weight: 300;
    font-weight: bold;
  }
  .slide{
    height: 550px;
    object-fit: cover;
  }
}
@media (max-width: 455px){
  .slide{
    height: 450px;
  }
  .title {
    font-size: 25px;
    font-weight: 300;
    font-weight: bold;
  }
  .text{
    font-size: 14px;
    padding: 10px 0;
  }
}
@media (max-width: 377px){
  .slide{
    height: 350px;
  }
  .btn{
    & button{
      margin: 10px 10px 10px 0;
    }
  }
  .slide{
    box-sizing: border-box;
    padding: 40px 20px;



  }
}